.text-center h4 {
    text-transform: uppercase;
    color: #1CC7C1;
    font-weight: bold;
}

.text-center h2 {
    color: #3A4256C1;
    font-weight: bold;
}

/* service card */

.service-card img {
    height: 5rem;
    margin: 3rem 0;
}

.service-card h5 {
    margin: 1rem 0;
    text-transform: uppercase;
    color: #3A4256C1;
    font-weight: bold;
}